<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd">

    <sec:http auto-config="true" use-expressions="true">
<!--        <sec:csrf disabled="true"/>-->



        <sec:intercept-url pattern="/students/create/**" access="hasAnyRole('ROLE_ADMIN','ROLE_TEACHER')" />
        <sec:intercept-url pattern="/groups/create/**" access="hasAnyRole('ROLE_ADMIN','ROLE_TEACHER')" />
        <sec:intercept-url pattern="/teachers/create/**" access="hasRole('ROLE_ADMIN')" />

        <sec:intercept-url pattern="/students/update/**" access="hasAnyRole('ROLE_ADMIN','ROLE_TEACHER')" />
        <sec:intercept-url pattern="/groups/update/**" access="hasAnyRole('ROLE_ADMIN','ROLE_TEACHER')" />
        <sec:intercept-url pattern="/teachers/update/**" access="hasRole('ROLE_ADMIN')" />

        <sec:intercept-url pattern="/students/delete/**" access="hasAnyRole('ROLE_ADMIN','ROLE_TEACHER')" />
        <sec:intercept-url pattern="/groups/delete/**" access="hasAnyRole('ROLE_ADMIN','ROLE_TEACHER')" />
        <sec:intercept-url pattern="/teachers/delete/**" access="hasRole('ROLE_ADMIN')" />

        <sec:intercept-url pattern="/h2console/**" access="hasAnyRole('ROLE_ADMIN')" />

        <sec:intercept-url pattern="/students/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_TEACHER')" />
        <sec:intercept-url pattern="/groups/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_TEACHER')" />
        <sec:intercept-url pattern="/teachers/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_TEACHER')" />
        <sec:intercept-url pattern="/**" access="permitAll()"/>
        <sec:logout logout-url="/logout" logout-success-url="/" delete-cookies="true"
                    invalidate-session="true"/>

        <sec:form-login login-page="/" default-target-url="/" login-processing-url="/login"
                        username-parameter="custom_username"
                        password-parameter="custom_password"
                        authentication-failure-url="/?error=notentry"/>

    </sec:http>

    <sec:authentication-manager>
        <sec:authentication-provider user-service-ref="customDetailsService"/>
        <sec:authentication-provider>
            <sec:user-service>
                <sec:user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"/>
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>

    <bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"></bean>
</beans>